<!DOCTYPE html>
<html>
	<head>
		<title>Layout líquido ou fluído</title>
		<meta charset="utf-8">

		<link rel="stylesheet" type="text/css" href="css/estilo.css">
	</head>
	<body>

		<div id="container"><!--Container pricipal que tratará das dimensões gerais da página.-->
			<div id="marca">Marca</div>
			<div id="conteudo"><!--Container que cuidará das dimensões do conteúdo.-->

				<div id="conteudo-principal"><!--Cuidará das dimensões do conteúdo principal.-->

					<h2>Conteúdo principal</h2>
					<img src="imagens/natureza.jpg" class="img-noticia">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt urna id elementum blandit. Vestibulum quis lectus fermentum massa bibendum pretium sed sit amet lorem. Sed pulvinar lectus a dolor elementum finibus. 
					</p>

					<h2>Conteúdo principal</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt urna id elementum blandit. Vestibulum quis lectus fermentum massa bibendum pretium sed sit amet lorem. Sed pulvinar lectus a dolor elementum finibus. 
					</p>

				</div>


				<div id="conteudo-secundario"><!--Cuidará das dimensões do conteúdo secundário.-->
					

					<h2>Conteúdo Secundário</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt urna id elementum blandit. Vestibulum quis lectus fermentum massa bibendum pretium sed sit amet lorem. Sed pulvinar lectus a dolor elementum finibus. 
					</p>
				</div>
			</div>
			<div id="navegacao"><!--Cuidará das dimensoes e estilos dos links de navefação.-->
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">Sobre</a></li>
					<li><a href="">Notícias</a></li>
					<li><a href="">Produtos</a></li>
					<li><a href="">Serviços</a></li>
					<li><a href="">Clientes</a></li>
					<li><a href="">Contato</a></li>
				</ul>



			</div>
			<div id="rodape">Rodapé</div><!--Tratará das dimensões do rodapé.-->
		</div>

	</body>
</html>