* {
	padding: 0;
	margin: 0;
}
 body{
 	font-size: 1em;
 	font-family: "Times New Roman", Times,	sans-serif;
 	background: #e6e6e6;
 }

h1 {
	color: #4e4e4e;
	font-size: 2em;
}


/*
***configuração de Layout
*/
#area-cabecalho {
	background-color: #f7b600;
	padding-top: 15px;
	text-align:center;
}

#area-logo, #area-menu{
	padding: 10px;
}

#area-principal {
	background-color: white;
	width: 920px;
	margin: 0 auto;/*Margens laterais automatias*/
}
#area-postagens, #area-lateral{
	background: orange;
}

#area-postagens{
	width: 660px;
	float: left;
}

#area-lateral{
	width: 240px;
	float: right;
}

#rodape {
	clear: both;
	text-align: center;
	padding: 15px
	background: #CCC;

}

.postagem {
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}


.branco{
	color: #fff;
}

/*
****Formatação dos menus
*/

a {
	text-decoration: none;
}

a:link,a:visited {
	color:#fff;
	padding: 8px 12px;
	
}

a:hover {
	color: #f7b600;
	background: #fff;

}

a:active{
	color: black;
}